<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.microservices.dao.TravelDao">
	<select id="searchAllTravel" resultType="com.demo.microservices.model.TravelVO">
		select trvl_id,
			   trvl_name, 
			   trvl_start_dt, 
			   trvl_end_dt, 
			   tb1.cntry_id,
			   tb1.city_id,
			   img_url, 
			   cmpn_cnt, 
			   trvl_pd, 
			   total_pay_amt, 
			   cmpn_type, 
			   trvl_main_fctr, 
			   clstr_label, 
			   use_yn, 
			   budget_amt, 
			   total_room_rate,
			   total_trff_rate, 
			   total_act_rate, 
			   total_etc_rate, 
			   tb1.cntry_name, 
			   tb1.city_name, 
			   usr_info.user_name
		from trvl_info
		join (select ctr.cntry_id, 
					 ctr.cntry_name, 
					 ct.city_id, 
					 ct.city_name
				from cntry_info ctr
				join city_info ct
				on ctr.cntry_id = ct.cntry_id) as tb1
		on trvl_info.cntry_id = tb1.cntry_id and trvl_info.city_id = tb1.city_id
		join usr_info
		on trvl_info.user_id = usr_info.user_id
		order by trvl_id desc
        limit 0, 5;
	</select>
	
	<select id="searchTravel" parameterType= "string" resultType="com.demo.microservices.model.TravelVO">
		select trvl_id,
			   trvl_name, 
			   trvl_start_dt, 
			   trvl_end_dt, 
			   tb1.cntry_id,
			   tb1.city_id,
			   img_url, 
			   cmpn_cnt, 
			   trvl_pd, 
			   total_pay_amt, 
			   cmpn_type, 
			   trvl_main_fctr, 
			   clstr_label, 
			   use_yn, 
			   budget_amt, 
			   total_room_rate,
			   total_trff_rate, 
			   total_act_rate, 
			   total_etc_rate, 
			   tb1.cntry_name, 
			   tb1.city_name, 
			   usr_info.user_name
		from trvl_info
		join (select ctr.cntry_id, 
					 ctr.cntry_name, 
					 ct.city_id, 
					 ct.city_name
				from cntry_info ctr
				join city_info ct
				on ctr.cntry_id = ct.cntry_id) as tb1
		on trvl_info.cntry_id = tb1.cntry_id and trvl_info.city_id = tb1.city_id
		join usr_info
		on trvl_info.user_id = usr_info.user_id
		where trvl_name like concat('%', #{keyword}, '%')
	</select>
	
	<select id="searchDetailTravel" parameterType= "com.demo.microservices.model.TravelVO" resultType="com.demo.microservices.model.TravelVO">
		select trvl_id,
			   trvl_name, 
			   trvl_start_dt, 
			   trvl_end_dt,
			   tb1.cntry_id,
			   tb1.city_id, 
			   img_url, 
			   cmpn_cnt, 
			   trvl_pd, 
			   total_pay_amt, 
			   cmpn_type,
			   trvl_main_fctr, 
			   clstr_label, 
			   use_yn, 
			   budget_amt, 
			   total_room_rate,
			   total_trff_rate, 
			   total_act_rate, 
			   total_etc_rate, 
			   tb1.cntry_name, 
			   tb1.city_name, 
			   usr_info.user_name
		from trvl_info
		join (select ctr.cntry_id, 
					 ctr.cntry_name, 
					 ct.city_id, 
					 ct.city_name
				from cntry_info ctr
				join city_info ct
				on ctr.cntry_id = ct.cntry_id) as tb1
		on trvl_info.cntry_id = tb1.cntry_id and trvl_info.city_id = tb1.city_id
		join usr_info
		on trvl_info.user_id = usr_info.user_id	  
	</select>
	
	<select id="selectTravel" parameterType= "Integer" resultType="com.demo.microservices.model.TravelVO"> 
		select trvl_id,
			   trvl_name,
			   trvl_start_dt,
			   trvl_end_dt,
			   tb1.cntry_id,
			   tb1.city_id,
			   img_url,
			   cmpn_cnt,
			   trvl_pd,
			   total_pay_amt,
			   cmpn_type,
			   trvl_main_fctr,
			   clstr_label,
			   use_yn,
			   budget_amt,
			   total_room_rate,
			   total_food_rate,
			   total_trff_rate,
			   total_act_rate,
			   total_etc_rate,
			   tb1.cntry_name,
			   tb1.city_name,
			   usr_info.user_name,
			   (select sum(pay_amt) from trvl_pay_info where trvl_id = trvl_info.trvl_id and pay_type = "1") as "totalRoomPrice",
			   (select sum(pay_amt) from trvl_pay_info where trvl_id = trvl_info.trvl_id and pay_type = "2") as "totalFoodPrice",
			   (select sum(pay_amt) from trvl_pay_info where trvl_id = trvl_info.trvl_id and pay_type = "3") as "totalTrffPrice",
			   (select sum(pay_amt) from trvl_pay_info where trvl_id = trvl_info.trvl_id and pay_type = "4") as "totalActPrice",
			   (select sum(pay_amt) from trvl_pay_info where trvl_id = trvl_info.trvl_id and pay_type = "5") as "totalEtcPrice"
		from trvl_info
		join (select ctr.cntry_id, 
					 ctr.cntry_name, 
					 ct.city_id, 
					 ct.city_name
				from cntry_info ctr
				join city_info ct
				on ctr.cntry_id = ct.cntry_id) as tb1
		on trvl_info.cntry_id = tb1.cntry_id and trvl_info.city_id = tb1.city_id
		join usr_info
		on trvl_info.user_id = usr_info.user_id
		where trvl_id = #{trvlId}
	</select>
	
	<insert id="insertTravel" parameterType="com.demo.microservices.model.RequestTravelVO">
		insert into trvl_info(
		   trvl_name,
		   trvl_start_dt,
		   trvl_end_dt,
		   cntry_id,
		   city_id,
		   img_url,
		   cmpn_cnt,
		   trvl_pd,
		   total_pay_amt,
		   cmpn_type, 
		   trvl_main_fctr, 
		   clstr_label, 
		   use_yn, 
		   user_id,
		   budget_amt, 
		   total_room_rate,
		   total_food_rate,
		   total_trff_rate, 
		   total_act_rate, 
		   total_etc_rate,
		   input_id,
		   input_dt,
		   modify_id,
		   modify_dt
		) values (
		   #{trvlName},
		   #{trvlStartDt},
		   #{trvlEndDt},
		   #{cntryId},
		   #{cityId},
		   #{imgUrl},
		   #{cmpnCnt},
		   #{trvlPd},
		   #{totalPayAmt},
		   #{cmpnType}, 
		   #{trvlMainFctr}, 
		   #{clstrLabel}, 
		   #{useYn}, 
		   #{userId},
		   #{budgetAmt}, 
		   0,
		   0, 
		   0, 
		   0,
		   0,
		   #{userId},
		   now(),
		   #{userId},
		   now()
		)
		<selectKey keyProperty="trvlId" resultType="_int" order="AFTER">
        	SELECT LAST_INSERT_ID() as trvlId
    	</selectKey>
	</insert>
	
	<update id="updateTravel" parameterType="com.demo.microservices.model.RequestTravelVO">
		update trvl_info 
		set trvl_name = #{trvlName},
		   trvl_start_dt = #{trvlStartDt},
		   trvl_end_dt = #{trvlEndDt},
		   cntry_id = #{cntryId},
		   city_id = #{cityId},
		   img_url = #{imgUrl},
		   cmpn_cnt = #{cmpnCnt},
		   trvl_pd = #{trvlPd},
		   cmpn_type = #{cmpnType}, 
		   trvl_main_fctr = #{trvlMainFctr}, 
		   use_yn = #{useYn}, 
		   budget_amt = #{budgetAmt}, 
		   modify_id = #{userId},
		   modify_dt = now()
		where trvl_id = #{trvlId}
	</update>
	
	<delete id="deleteTravel" parameterType="Integer">
		delete from trvl_info
		where trvl_id = #{trvlId};
		
		delete from trvl_revw_info
		where trvl_id = #{trvlId}
	</delete>
	
	<select id="selectAllTravelRevw" parameterType="Integer" resultType="com.demo.microservices.model.TravelReviewVO">
		select trvl_revw_id,
			   trvl_id,
			   write_date, 
			   revw_text,
			   revw_order,
			   trvl_dt,
			   img_url
		from trvl_revw_info
		where trvl_id = #{trvlId}
		order by trvl_dt
	</select>
	
	<select id="selectTravelRevw" parameterType="Integer" resultType="com.demo.microservices.model.TravelReviewVO">
		select trvl_revw_id,
			   trvl_id,
			   write_date, 
			   revw_text,
			   revw_order,
			   trvl_dt,
			   img_url
		from trvl_revw_info
		where trvl_revw_id = #{trvlRevwId}
	</select>
	
	<insert id="insertTravelRevw" parameterType="com.demo.microservices.model.RequestTravelReviewVO" >
		insert into trvl_revw_info(
			trvl_id,
		 	write_date, 
		 	revw_text,
			trvl_dt,
			img_url,
			input_id, 
			input_dt,
			modify_id,
			modify_dt
		) values (
			#{trvlId},
		 	now(), 
		 	#{revwText},
			#{trvlDt},
			#{imgUrl},
			#{userId}, 
			now(),
			#{userId},
			now()
		)
		<selectKey keyProperty="trvlRevwId" resultType="Integer" order="AFTER">
        	SELECT LAST_INSERT_ID()
    	</selectKey>
	</insert>
	
	<update id="updateTravelRevw" parameterType="com.demo.microservices.model.RequestTravelReviewVO">
		update trvl_revw_info 
		set write_date = now(), 
		 	revw_text = #{revwText},
			trvl_dt = #{trvlDt},
			img_url = #{imgUrl},
			modify_id = #{userId},
			modify_dt = now()
		where trvl_revw_id = #{trvlRevwId} and trvl_id = #{trvlId}
	</update>
	
	<delete id="deleteTravelRevw" parameterType="Integer">
		delete from trvl_revw_info
		where trvl_revw_id = #{trvlRevwId}
	</delete>
	

	<select id="selectCountry" parameterType="com.demo.microservices.model.RequestCountryVO" resultType="com.demo.microservices.model.CountryVO">
		select city_id,
		  (select city_name from city_info where city_id = #{cityId}) as city_name,
		  (select img_url from city_info where city_id = #{cityId}) as img_url,
          cntry_id, 
          (select cntry_name from cntry_info where cntry_id = #{cntryId}) as cntry_name, 
          round(avg(ti.total_pay_amt) * avg(total_room_rate),0) + round(avg(ti.total_pay_amt) * avg(total_food_rate),0) + round(avg(ti.total_pay_amt) * avg(total_trff_rate),0) + round(avg(ti.total_pay_amt) * avg(total_act_rate),0) + round(avg(ti.total_pay_amt) * avg(total_etc_rate),0) as avgTotalPayAmt,
          avg(total_room_rate) as avgRoomRate,
          avg(total_food_rate) as avgFoodRate,
          avg(total_trff_rate) as avgTrffRate,
          avg(total_act_rate) as avgActRate,
          avg(total_etc_rate) as avgEtcRate,
          round(avg(ti.total_pay_amt) * avg(total_room_rate),0) as avgRoomAmt,
          round(avg(ti.total_pay_amt) * avg(total_food_rate),0) as avgFoodAmt,
          round(avg(ti.total_pay_amt) * avg(total_trff_rate),0) as avgTrffAmt,
          round(avg(ti.total_pay_amt) * avg(total_act_rate),0) as avgActAmt,
          round(avg(ti.total_pay_amt) * avg(total_etc_rate),0) as avgEtcAmt,
		  clstr_label
		from trvl_info ti
		where clstr_label=#{clstrLabel} and cntry_id=#{cntryId} and city_id=#{cityId}
	</select>
	
	<select id="selectTravelByClstr" parameterType="com.demo.microservices.model.RequestCountryVO" resultType="com.demo.microservices.model.TravelVO">
		select trvl_id,
			   trvl_name,
			   trvl_start_dt,
		   	   trvl_end_dt,
		   	   (select city_name from city_info where city_id=#{cityId}) as city_name,
		   	   (select img_url from city_info where city_id=#{cityId}) as img_url,
		   	   (select cntry_name from cntry_info where cntry_id=#{cntryId}) as cntry_name,
		   	   cmpn_type,
		   	   cmpn_cnt
		from trvl_info
		where clstr_label=#{clstrLabel} and cntry_id=#{cntryId} and city_id=#{cityId}
	</select>
	
	<select id="searchTravelByUserId" parameterType="Integer" resultType="com.demo.microservices.model.TravelVO">
		select trvl_id,
            tb1.city_name,
            tb1.cntry_name,
            trvl_start_dt,
               trvl_end_dt,
               img_url, 
               total_pay_amt,
               case when now() between trvl_start_dt and trvl_end_dt then 0
               else 1
               end as rnk
	    from trvl_info
	    join (select ctr.cntry_id, 
	                 ctr.cntry_name, 
	                 ct.city_id, 
	                 ct.city_name
	          from cntry_info ctr
	          join city_info ct
	          on ctr.cntry_id = ct.cntry_id) as tb1
	    on trvl_info.cntry_id = tb1.cntry_id and trvl_info.city_id = tb1.city_id
	    where user_id=#{userId}
	    order by rnk asc, trvl_end_dt desc
	</select>
</mapper>